/*================================
Master
================================*/
body {
    margin: auto;
}

main {
    margin: auto;
    max-width: 40rem;
}

/*================================
Typography
================================*/
html {
    --font-primary: 'Muli', sans-serif;
    --font-secondary: 'Work Sans', sans-serif;
    color: var(--color-blue);

    --ratio: 1.2;
    --size-one: calc(1rem * var(--ratio));
    --size-two: calc(var(--size-one) * var(--ratio));
    --size-three: calc(var(--size-two) * var(--ratio));
    --size-four: calc(var(--size-three) * var(--ratio));
    --size-five: calc(var(--size-four) * var(--ratio));
    --size-six: calc(var(--size-five) * var(--ratio));
    --size-one-smaller: calc(1rem / var(--ratio));

    line-height: 1.5;
}

main {
    font-family: var(--font-primary);
}

a {
    color: var(--color-blue-light);
 }

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus{
    text-decoration: underline;
}

a:active{
    text-decoration: underline;
}

.logo {
    border: .25rem solid #fff;
    color: #fff;
    font-family: var(--font-secondary);
    font-size: 2.75rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem;
}

p{
    font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    margin: 1.5em 0 0 0;
} 

.header-link {
    color: var(--color-blue-light);
    text-decoration: underline;
}

h1 {
    font-size: var(--size-six);
}

h2 {
    font-size: var(--size-five);
}

h3 {
    font-size: var(--size-four);
}

h4 {
    font-size: var(--size-three);
}

h5 {
    font-size: var(--size-two);
}

h6 {
    font-size: var(--size-one);
}

.featured-text {
    font-style: italic;
    font-size: var(--size-one);
    margin: .25rem;
}

.tertiary-copy {
    font-family: var(--font-secondary);
    font-weight: 700;
}


blockquote {
    color: var(--color-red);
    font-size: var(--size-two);
    margin: 1rem;
}

cite {
    color: var(--color-red);
}

/*================================
Header Component
================================*/
header {
    background-color: var(--color-red);
    padding: 2rem;
}


/*================================
Nav Component
================================*/

nav a {
    color: white;
    font-family: var(--font-primary);
    text-decoration: none;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin: .25rem;
    padding: .25rem;
}

nav ul {
    padding: 0;
}

/*================================
Footer Component
================================*/
footer {
    background-color: var(--color-red-dark);
    color: #fff;
    padding: 2rem;
}

/*================================
Colors
================================*/
html {
    --color-blue: #022b3a;
    --color-blue-light: #325464;
    --color-blue-dark: #000015;
    --color-red: #c62f2f;
    --color-red-light: #ff6459;
    --color-red-dark: #8e0007;
}

/*================================
Examples
================================*/

figure {
    background-image:linear-gradient(#f0f0f0, #fcfcfc);
    border-top: .5rem solid #222;
    margin-left: 1rem; 
    padding: .75rem;
}

.swatches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.typography {
    display: flex;
}

.typography-example {
    max-width: 20rem;
    padding-left: 2rem;
}

/*================================
Link-Button Component
================================*/

.link-button-normal, .link-button-hero, .link-button-tertiary, .link-button-normal-inverted, .link-button-hero-inverted, .link-button-tertiary-inverted{
    color: white;
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
}

.link-button-hero, .link-button-hero:visited{
    background-color: var(--color-red-dark);
    padding: 1rem;
}

.link-button-normal, .link-button-normal:visited{
    background-color: var(--color-red);
    padding: .75rem;
}

.link-button-tertiary, .link-button-tertiary:visited{
    background-color: var(--color-red-light);
    padding: .5rem;
}

.link-button-normal:hover, .link-button-hero:hover, .link-button-tertiary:hover, .link-button-normal:focus, .link-button-hero:focus, .link-button-tertiary:focus{
    background-color: var(--color-blue);
    text-decoration: none;
    transition: .5s;
}

.link-button-normal:active, .link-button-hero:active, .link-button-tertiary:active{
    background-color: var(--color-blue-light);
    transition: .1s;
}

.link-button-hero-inverted, .link-button-hero-inverted:visited{
    background-color: var(--color-blue-dark);
    padding: 1rem;
}

.link-button-normal-inverted, .link-button-normal-inverted:visited{
    background-color: var(--color-blue);
    padding: .75rem;
}

.link-button-tertiary-inverted, .link-button-tertiary-inverted:visited{
    background-color: var(--color-blue-light);
    padding: .5rem;
}

.link-button-normal-inverted:hover, .link-button-hero-inverted:hover, .link-button-tertiary-inverted:hover, .link-button-normal-inverted:focus, .link-button-hero-inverted:focus, .link-button-tertiary-inverted:focus{
    background-color: var(--color-red);
    text-decoration: none;
    transition: .5s;
}

.link-button-normal-inverted:active, .link-button-hero-inverted:active, .link-button-tertiary-inverted:active{
    background-color: var(--color-red-light);
    transition: .1s;
}

/*================================
Accordion Component
================================*/

details {
    margin-bottom: 1rem;
}

details div {
    border-left: .25rem solid var(--color-red-light);
    margin-left: 2rem;
}

details div p {
    margin-left: 1rem;
}

summary {
    background-color: var(--color-blue-light);
    color: white;
    padding: .5rem;
}